@import "tailwindcss";

html {
  scrollbar-gutter: stable;
  /* Modern browsers */
  scrollbar-width: thin;
  scrollbar-color: #16a34a #f0fdf4;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0fdf4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #16a34a;
  border-radius: 10px;
  border: 2px solid #f0fdf4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #15803d;
}
