@import "tailwindcss";

/* Layout Shifting Issue Fix - Scrollbar */
html {
  scrollbar-gutter: stable;
  /* Modern browsers */
  scrollbar-width: thin;
  scrollbar-color: #16a34a #f0fdf4;
}

/* Scrollbar Color Scheme Update - Chrome, Edge, and Safari */
::-webkit-scrollbar-track {
  background: #f0fdf4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #16a34a;
  border-radius: 10px;
  border: 2px solid #f0fdf4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #15803d;
}

/* Custom Min Height */
.custom-min-height {
  @apply min-h-[calc(100vh-81px)];
}

/* Custom Transition */
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/* Custom Select */
.custom-select {
  @apply appearance-none border bg-white border-gray-300 rounded-lg w-full py-2.5 px-4 focus:ring-2 focus:ring-green-500/20 focus:border-green-500 transition-all outline-none cursor-pointer bg-[url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20stroke%3D%22%236b7280%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.5%22%20d%3D%22m6%208%204%204%204-4%22%2F%3E%3C%2Fsvg%3E')] bg-no-repeat bg-position-[right_0.5rem_center] bg-size-[1.5em_1.5em] pr-10;
}

/* Custom Label */
.custom-label {
  @apply block text-gray-700 font-bold mb-2;
}

/* Custom Input and Custom Textarea */
.custom-input,
.custom-textarea {
  @apply border bg-white border-gray-300 rounded-lg w-full py-2 px-3 focus:ring-2 focus:ring-green-500/20 focus:border-green-500 transition-all duration-300 outline-none;
}

/* Custom Divider */
.divider {
  @apply border border-gray-100 mt-2 mb-4;
}

/* Custom Checkbox Label */
.custom-checkbox-label {
  @apply ml-2 block text-sm text-gray-700 cursor-pointer;
}

/* Custom Checkbox */
.custom-checkbox {
  @apply h-4 w-4 text-green-600 focus:ring-green-500 border-gray-300 rounded mt-0.75 cursor-pointer;
}

/* Custom Show/Hide Password */
.custom-show-hide-password {
  @apply absolute inset-y-4 right-1 top-4 pr-2 flex items-center text-gray-600 hover:text-green-600 transition-all duration-300 cursor-pointer;
}
